* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Verticall align */
html, body, #root, .app{ height: 100%; }
body{
  background: #49393b;
  color: #341c1c;
  margin: 0;
  padding: 0;
}
#index{height: 100%;}
// .container{height: 100%;}
// .app-container{height: 100%;}
.container{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
h2 {
  text-align: center;
  font-size: 2em;
  padding: 1rem 0;
  margin: 0;
  font-family: "Arial";
}


input {
  margin: 0 !important;
}
$background: red;
$borderColor: gold;
$thumbWidth: 20px;
$thumbHeight: 20px;
$thumbColor: purple;
$trackHeight: 10px;
input[type=range] {
  -webkit-appearance: none;
  margin: 13px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: $background;
  border-radius: 1.3px;
  border: 1px solid $borderColor;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px $borderColor, 0px 0px 1px $borderColor;
  border: 1px solid 1px solid $borderColor;
  height: $thumbHeight !important;
  width: $thumbWidth !important;
  border-radius: 3px;
  background: $thumbColor;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $background;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: $trackHeight;
  cursor: pointer;
  animate: 0.2s;
  background: $background;
  border-radius: 1.3px;
  border: 1px solid $borderColor;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px $borderColor, 0px 0px 1px $borderColor;
  border: 1px solid 1px solid $borderColor;
  height: $thumbHeight !important;
  width: $thumbWidth !important;
  border-radius: 3px;
  background: $thumbColor;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: $trackHeight;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: $thumbWidth 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: $background;
  border: 1px solid $borderColor;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: $background;
  border: 1px solid $borderColor;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px $borderColor, 0px 0px 1px $borderColor;
  border: 1px solid 1px solid $borderColor;
  height: $thumbHeight !important;
  width: $thumbWidth !important;
  border-radius: 3px;
  background: $thumbColor;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: $background;
}
input[type=range]:focus::-ms-fill-upper {
  background: $background;
}
